{
	auto_https off
}

:80 {
	@valid_key {
		header X-Api-Key {$OPENCODE_API_KEY}
	}

	handle @valid_key {
		header Authorization "Basic {$OPENCODE_BASIC_AUTH_B64}"
		respond 200
	}

	handle {
		respond 401
	}
}
