---
- name: Converge (Minimal)
  hosts: all
  become: true
  vars:
    create_user: testuser
    copy_local_key: "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC... testkey"
    sys_packages:
      - jq
      - curl
      - vim
  roles:
    - role: ../../
      tasks_from: user
      tags: [system.user]
    - role: ../../
      tasks_from: journald
      tags: [system.journald]
