---
- name: Converge (Minimal)
  hosts: all
  become: true
  vars:
    create_user: testuser
    copy_local_key: "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC... testkey"
    sys_packages:
      - jq
      - curl
      - vim
  tasks:
    # Only test basic user creation and journald config
    - name: Import user tasks
      import_tasks: ../../tasks/user.yml
      tags: [system.user]

    - name: Import journald tasks
      import_tasks: ../../tasks/journald.yml
      tags: [system.journald]
