SERVICE_HOST={{ service_host }}
SERVICE_HOST_IMPORTER={{ finance.importer_host }}
SERVICE_NAME={{ service_name }}
LOCAL_HOSTNAME={{ ansible_facts['hostname'] }}
IPV4_HOST={{ ansible_facts['default_ipv4']['address'] | default(lookup('dig', ansible_host)) }}
UID={{ ansible_facts['user_uid'] | default(0) }}
GID={{ ansible_facts['user_gid'] | default(0) }}
DOCKER_DATA_ROOT={{ extension_drive.path | default('/var/lib') }}/docker
