- name: Fetch Atuin credentials from Vaultwarden
  set_fact:
    atuin_username: "{{ lookup('vaultwarden', 'infrastructure/test/atuin/credentials', field='username') }}"
    atuin_password: "{{ lookup('vaultwarden', 'infrastructure/test/atuin/credentials', field='password') }}"
    atuin_encryption_key: "{{ lookup('vaultwarden', 'infrastructure/test/atuin/credentials', field='encryption_key') }}"
  no_log: true
  tags:
    - user.atuin

- name: Check if atuin is installed
  shell: "atuin -V"
  register: autin_version
  failed_when: false
  changed_when: false

- block:
    - name: Create temporary file for install script
      tempfile:
        state: file
        suffix: temp
      register: temp_install_file

    - name: Downloading atuin install script
      get_url:
        url: "{{ atuin.url }}"
        dest: "{{ temp_install_file.path }}"
        force: true # overwrite tempfile

    - name: Run install script
      shell: "bash {{ temp_install_file.path }}"

    # default install (without cargo) will be in .atuin without linking
    - name: Link executable
      become_user: root
      file:
        src: "{{ ansible_user_dir }}/.atuin/bin/atuin"
        dest: "/usr/bin/atuin"
        state: link
  when: autin_version.rc != 0

- name: Login [{{ atuin_username }}]
  shell: "atuin login -u {{ atuin_username }} -p {{ atuin_password }} -k '{{ atuin_encryption_key }}'"
  no_log: true
  register: login
  changed_when: '"already logged in" not in (login.stderr | lower) and "already logged in" not in (login.stdout | lower)'
  failed_when: login.rc != 0 and ("already logged in" not in (login.stderr | lower) and "already logged in" not in (login.stdout | lower))

- name: Sync
  shell: "atuin sync"
  when: login.changed

- name: Set atuin filenames
  set_fact:
    config_dir: .config/atuin/config.toml

- name: Set auto-sync
  lineinfile:
    path: "{{ (ansible_user_dir, config_dir) | path_join }}"
    search_string: 'auto_sync'
    line: 'auto_sync = true'

- name: Set update-check
  lineinfile:
    path: "{{ (ansible_user_dir, config_dir) | path_join }}"
    search_string: 'update_check'
    line: 'update_check = true'

- name: Set filter mode for shell up-key binding
  lineinfile:
    path: "{{ (ansible_user_dir, config_dir) | path_join }}"
    search_string: 'filter_mode_shell_up_key_binding'
    line: 'filter_mode_shell_up_key_binding = "directory"'

- name: Set enter_accept to false
  lineinfile:
    path: "{{ (ansible_user_dir, config_dir) | path_join }}"
    search_string: 'enter_accept'
    line: 'enter_accept = false'
