- name: Install rsync
  apt: name=rsync state=latest
  become_user: root
  tags:
    - user.backup.rsync.install

- name: Ensure backup dir exists
  file:
    path: "{{(backup_dir) | path_join}}"
    state: directory
  tags:
    - user.backup.dir.ensure

- name: Create backup for homes
  template:
    src: backup.sh.j2
    dest: "{{(remote_user_home, 'backup_home.sh') | path_join}}"
    mode: 0774
  vars:
    excludes:
      - .git
      - .zprezto
      - pgdata
      - .cache
      - go/
    backup_dest: "{{(backup_dir, 'home') | path_join}}"
    backup_source: "{{remote_user_home}}"
    with_timestamp:
  tags:
    - user.backup.script.homes


- import_tasks: includes/oneshot.yml
  vars:
    service:
      name: backup-homes
      description: 'Backup homes every day'
      schedule: 'daily'
      command: "{{(remote_user_home, 'backup_home.sh') | path_join}}"
  tags:
    - user.backup.systemd.homes

- name: Create backup for server
  template:
    src: backup.sh.j2
    dest: "{{(remote_user_home, 'backup_root.sh') | path_join}}"
    mode: 0774
  vars:
    excludes:
      - '*.sock'
      - 'cache'
      - 'swap.img'
      - '*.swap'
    includes:
      - '/*'
      - '/etc/***'
      - '/var/*'
      - '/var/spool/*'
      - '/var/spool/cron/***'
    with_sudo:
    backup_dest: "{{(backup_dir, 'root') | path_join}}"
    backup_source: "/"
    with_timestamp:
  tags:
    - user.backup.script.root

- import_tasks: includes/oneshot.yml
  vars:
    service:
      name: backup-root
      description: 'Backup Server every day'
      schedule: 'daily'
      command: "{{(remote_user_home, 'backup_root.sh') | path_join}}"
  tags:
    - user.backup.systemd.root

- import_tasks: includes/oneshot.yml
  vars:
    service:
      name: backup-photos
      description: 'Backup Photos locally daily'
      schedule: 'daily'
      command: "{{(shell.remote_dir, 'custom/bin/sync_photos.sh') | path_join}}"
  tags:
    - user.backup.systemd.photos
  when: backup_photos | default(false)
