- name: Create local .env files for docker service
  template:
    src: docker.env.j2
    dest: "{{(docker.remote_dir, item.dir, '.env') | path_join}}"
    mode: '0600'
  vars:
    service:
      host: "{{item.dir}}.{{inventory_hostname}}"
      name: "{{item.dir}}"
    user:
      id: "{{ created_user.uid | default(ansible_facts['user_id']) }}"
      group: "{{ created_user.group }}"
  with_items:
    - "{{ docker.services }}"
  tags:
    - user.docker.env

- name: Create energy.env file for docker service
  template:
    src: energy.env.j2
    dest: "{{(docker.remote_dir, 'energy', 'energy.env') | path_join}}"
    mode: '0600'
    owner: "{{create_user}}"
  tags:
    - user.docker.env
    - user.docker.env.energy

- name: Create opencode.env file for docker service
  template:
    src: opencode.env.j2
    dest: "{{(docker.remote_dir, 'opencode', 'opencode.env') | path_join}}"
    mode: '0600'
    owner: "{{create_user}}"
  tags:
    - user.docker.env
    - user.docker.env.opencode
