- name: Create local .env files for docker service
  template:
    src: docker.env.j2
    dest: "{{(docker.remote_dir, item.dir, '.env') | path_join}}"
    mode: '0600'
  vars:
    service:
      host: "{{item.dir}}.{{inventory_hostname}}"
      name: "{{item.dir}}"
    user:
      id: "{{ created_user.uid | default(ansible_user_id) }}"
      group: "{{ created_user.group | default(ansible_user_gid) }}"
  with_items:
    - "{{ docker.services }}"
  when: item.dir != 'pass'
  tags:
    - user.docker.env
