- name: Fetch git credentials from Vaultwarden
  set_fact:
    git_username: "{{ lookup('vaultwarden', 'services/test/git/credentials', field='username') }}"
    git_password: "{{ lookup('vaultwarden', 'services/test/git/credentials', field='password') }}"
  no_log: true
  tags:
    - user.git

- name: Add credentials for repo [{{ hostname }}]
  lineinfile:
    path: "~/.git-credentials"
    regex: "^https:\/\/[^@]*:[^@]*@{{ hostname }}$"
    line: "https://{{ git_username }}:{{ git_password }}@{{ hostname }}"
    create: true
    mode: '0600'
  no_log: true

- name: Check helper store
  command: "git config --global --get credential.helper"
  changed_when: git_config.rc == 1 or git_config.stdout != 'store'
  register: git_config
  failed_when: git_config.rc > 1

- name: Configure helper store when not exists
  command: "git config --global credential.helper store"
  when: git_config.changed
