- import_tasks: includes/repository.yml
  vars:
    repository_uri: "{{ shell.repo }}"
    remote_dir: "{{ shell.remote_dir }}"
    local_dir: "{{ shell.local_dir }}"
    check_git_servyy_reachable: false    # zpresto is from GitHub, not git.lehel.xyz
    clone_submodules: true                # Clone submodules during initial clone
    update_submodules: true               # Update submodules on every deployment
  tags:
    - user.repo.zpresto

- import_tasks: zprezto.yml
  tags:
    - user.zprezto

- import_tasks: atuin.yml
  tags:
    - user.atuin

- import_tasks: git_credentials.yml
  vars:
    hostname: "{{ servyy_git_repo.hostname }}"
    username: "{{ servyy_git_repo.username }}"
    password: "{{ servyy_git_repo.password }}"
  tags:
    - user.repo.me

- import_tasks: includes/repository.yml
  vars:
    repository_uri: "{{ docker.repo }}"
    remote_dir: "{{ docker.remote_dir }}"
    local_dir: "{{ docker.local_dir }}"
    branch: "{{ lookup('pipe', 'git -C ' ~ docker.local_dir ~ ' rev-parse --abbrev-ref HEAD') }}"
    check_git_servyy_reachable: true     # Check git.lehel.xyz (me/ submodule is there)
    clone_submodules: true                # Clone submodules if reachable
    update_submodules: true               # Update submodules on every deployment
  tags:
    - user.docker.repo
    - user.docker
    - user.repo
  when: with_containers | default(false)

- import_tasks: docker_repo_env.yml
  tags:
    - user.repo.docker.env
    - user.docker
  when: with_containers | default(false)

- import_tasks: bumbleflies.yml
  tags:
    - user.docker.bumbleflies
    - user.docker
  when: with_containers | default(false)

- import_tasks: docker_setup.yml
  tags:
    - user.docker.setup
    - user.docker
  when: (with_docker or with_containers) | default(false)

- import_tasks: docker_services.yml
  tags:
    - user.docker.services
    - user.docker
  when: with_containers | default(false)

- import_tasks: dns.yml
  tags:
    - user.dns
  when: with_containers | default(false)

- import_tasks: host_ping.yml
  tags:
    - user.ping
  when: with_containers | default(false)
