- import_tasks: includes/repository.yml
  vars:
    repository_uri: "{{ shell.repo }}"
    remote_dir: "{{ shell.remote_dir }}"
    local_dir: "{{ shell.local_dir }}"
  tags:
    - user.repo.zpresto

- import_tasks: zprezto.yml
  tags:
    - user.zprezto

- import_tasks: atuin.yml
  tags:
    - user.atuin

- import_tasks: git_credentials.yml
  vars:
    hostname: "{{ servyy_git_repo.hostname }}"
    username: "{{ servyy_git_repo.username }}"
    password: "{{ servyy_git_repo.password }}"
  tags:
    - user.repo.me

- import_tasks: includes/repository.yml
  vars:
    repository_uri: "{{ docker.repo }}"
    remote_dir: "{{ docker.remote_dir }}"
    local_dir: "{{ docker.local_dir }}"
    branch: "{{ lookup('pipe', 'git -C ' ~ docker.local_dir ~ ' rev-parse --abbrev-ref HEAD') }}"
  tags:
    - user.docker.repo
    - user.docker
    - user.repo
  when: with_containers | default(false)

- import_tasks: docker_repo_env.yml
  tags:
    - user.repo.docker.env
    - user.docker
  when: with_containers | default(false)

- import_tasks: includes/docker_repo_restore.yml
  vars:
    # concatenate strings to prevent striping of first '/'
    backup_base: "{{backup_dir + docker.remote_dir}}"
    restore_base: "{{docker.remote_dir}}"
    restore_dir:  "{{('git', 'repos') | path_join}}"
    owner: "root"
  tags:
    - user.docker.restore.git
    - user.docker
  when: with_containers | default(false)

- import_tasks: includes/docker_repo_restore.yml
  vars:
    # concatenate strings to prevent striping of first '/'
    backup_base: "{{backup_dir + docker.remote_dir}}"
    restore_base: "{{docker.remote_dir}}"
    restore_dir:  "{{('photoprism', 'database') | path_join}}"
    owner: "{{create_user}}"
  tags:
    - user.docker.restore.photoprism
    - user.docker
  when: with_containers | default(false)

- import_tasks: bumbleflies.yml
  tags:
    - user.docker.bumbleflies
    - user.docker
  when: with_containers | default(false)

- import_tasks: docker_setup.yml
  tags:
    - user.docker.setup
    - user.docker
  when: (with_docker or with_containers) | default(false)

- import_tasks: docker_services.yml
  tags:
    - user.docker.services
    - user.docker
  when: with_containers | default(false)

- import_tasks: dns.yml
  tags:
    - user.dns
  when: with_containers | default(false)

- import_tasks: backup.yml
  tags:
    - user.backup

- import_tasks: host_ping.yml
  tags:
    - user.ping
  when: with_containers | default(false)
