- import_tasks: includes/repository.yml
  vars:
    repository_uri: "{{ shell.repo }}"
    remote_dir: "{{ shell.remote_dir }}"
    local_dir: "{{ shell.local_dir }}"
    check_git_servyy_reachable: false    # zpresto is from GitHub, not git.lehel.xyz
    clone_submodules: true                # Clone submodules during initial clone
    update_submodules: true               # Update submodules on every deployment
  tags:
    - user.repo.zpresto

- import_tasks: zprezto.yml
  tags:
    - user.zprezto

- import_tasks: atuin.yml
  tags:
    - user.atuin

- import_tasks: git_credentials.yml
  vars:
    hostname: "{{ servyy_git_repo.hostname }}"
    username: "{{ servyy_git_repo.username }}"
    password: "{{ servyy_git_repo.password }}"
  tags:
    - user.repo.me

- import_tasks: includes/repository.yml
  vars:
    repository_uri: "{{ docker.repo }}"
    remote_dir: "{{ docker.remote_dir }}"
    local_dir: "{{ docker.local_dir }}"
    branch: "{{ lookup('pipe', 'git -C ' ~ docker.local_dir ~ ' rev-parse --abbrev-ref HEAD') }}"
    check_git_servyy_reachable: true     # Check git.lehel.xyz (me/ submodule is there)
    clone_submodules: true                # Clone submodules if reachable
    update_submodules: true               # Update submodules on every deployment
  tags:
    - user.docker.repo
    - user.docker
    - user.repo
  when: with_containers | default(false)

- import_tasks: docker_repo_env.yml
  tags:
    - user.repo.docker.env
    - user.docker
  when: with_containers | default(false)

# - import_tasks: includes/docker_repo_restore.yml
#   vars:
#     # concatenate strings to prevent striping of first '/'
#     backup_base: "{{backup_dir + docker.remote_dir}}"
#     restore_base: "{{docker.remote_dir}}"
#     restore_dir: "{{('git', 'repos') | path_join}}"
#     owner: "root"
#   tags:
#     - user.docker.restore.git
#     - user.docker
#   when: with_containers | default(false)

- import_tasks: includes/restic_restore.yml
  vars:
    restore_path: "{{ (docker.remote_dir, 'git', 'repos') | path_join }}"
    backup_name: "home"
    owner: "root"
  tags:
    - user.docker.restore.git
    - user.docker
    - user.restic.restore
  when: with_containers | default(false)

# - import_tasks: includes/docker_repo_restore.yml
#   vars:
#     # concatenate strings to prevent striping of first '/'
#     backup_base: "{{backup_dir + docker.remote_dir}}"
#     restore_base: "{{docker.remote_dir}}"
#     restore_dir: "{{('photoprism', 'database') | path_join}}"
#     owner: "{{create_user}}"
#   tags:
#     - user.docker.restore.photoprism
#     - user.docker
#   when: with_containers | default(false)

- import_tasks: includes/restic_restore.yml
  vars:
    restore_path: "{{ (docker.remote_dir, 'photoprism', 'database') | path_join }}"
    backup_name: "home"
    owner: "{{ create_user }}"
  tags:
    - user.docker.restore.photoprism
    - user.docker
    - user.restic.restore
  when: with_containers | default(false)

# - import_tasks: includes/docker_repo_restore.yml
#   vars:
#     # concatenate strings to prevent striping of first '/'
#     backup_base: "{{backup_dir + docker.remote_dir}}"
#     restore_base: "{{docker.remote_dir}}"
#     restore_dir: "{{('pass', 'vw-data') | path_join}}"
#     owner: "root"
#   tags:
#     - user.docker.restore.pass
#     - user.docker
#   when: with_containers | default(false)

- import_tasks: includes/restic_restore.yml
  vars:
    restore_path: "{{ (docker.remote_dir, 'pass', 'vw-data') | path_join }}"
    backup_name: "home"
    owner: "root"
  tags:
    - user.docker.restore.pass
    - user.docker
    - user.restic.restore
  when: with_containers | default(false)

- import_tasks: bumbleflies.yml
  tags:
    - user.docker.bumbleflies
    - user.docker
  when: with_containers | default(false)

- import_tasks: docker_setup.yml
  tags:
    - user.docker.setup
    - user.docker
  when: (with_docker or with_containers) | default(false)

- import_tasks: docker_services.yml
  tags:
    - user.docker.services
    - user.docker
  when: with_containers | default(false)

- import_tasks: dns.yml
  tags:
    - user.dns
  when: with_containers | default(false)

- import_tasks: backup.yml
  tags:
    - user.backup

- import_tasks: restic.yml
  tags:
    - user.restic

- import_tasks: restic_test_setup.yml
  tags:
    - user.restic.test.setup
  when: inventory_hostname == 'servyy-test.lxd'

- import_tasks: restic_test_data.yml
  tags:
    - user.restic.test.data
  when: inventory_hostname == 'servyy-test.lxd'

- import_tasks: restic_test_backup.yml
  tags:
    - user.restic.test.backup
  when: inventory_hostname == 'servyy-test.lxd'

# Test restore tasks using local test repository
- import_tasks: includes/restic_restore.yml
  vars:
    restore_path: "{{ (docker.remote_dir, 'git', 'repos') | path_join }}"
    backup_name: "test"
    owner: "root"
  tags:
    - user.restic.test.restore.git
  when: inventory_hostname == 'servyy-test.lxd'

- import_tasks: includes/restic_restore.yml
  vars:
    restore_path: "{{ (docker.remote_dir, 'photoprism', 'database') | path_join }}"
    backup_name: "test"
    owner: "{{ create_user }}"
  tags:
    - user.restic.test.restore.photoprism
  when: inventory_hostname == 'servyy-test.lxd'

- import_tasks: includes/restic_restore.yml
  vars:
    restore_path: "{{ (docker.remote_dir, 'pass', 'vw-data') | path_join }}"
    backup_name: "test"
    owner: "root"
  tags:
    - user.restic.test.restore.pass
  when: inventory_hostname == 'servyy-test.lxd'

- import_tasks: host_ping.yml
  tags:
    - user.ping
  when: with_containers | default(false)
