[submodule "me/website"]
	path = me/website
	url = https://git.lehel.xyz/me
	branch = dist
[submodule "ansible/plays/roles/ubuntu_pro"]
	path = ansible/plays/roles/ubuntu_pro
	url = https://github.com/dachrisch/ansible-role-ubuntu_pro.git
