# key files fpr git-crypt
*.key
# docker environment files
.env
# IDE
.idea
# script backups (iptables)
.backup/
# photorpsim database
photoprism/database/
# git repository
git/repos
# logs
logs/
log/
# dns
dns/volumes
# jekyll
bumbleflies/site
