# Docker Compose Demo Environment
SERVICE_HOST={{ 'demo.leaguesphere' }}.{{inventory_hostname}}}}
SERVICE_NAME={{ demo_config.app_name }}
LOCAL_HOSTNAME={{ ansible_facts['hostname'] }}
IPV4_HOST={{ lookup('dig', ansible_host) }}
COMPOSE_PROJECT_NAME={{ demo_config.app_name }}
FRONTEND_URL={{ demo_config.frontend_url }}
