# Docker Compose Demo Environment
COMPOSE_PROJECT_NAME=leaguesphere-demo
MYSQL_ROOT_PASSWORD={{ demo_config.mysql.root_password }}
MYSQL_DATABASE={{ demo_config.mysql.database }}
MYSQL_USER={{ demo_config.mysql.user }}
MYSQL_PASSWORD={{ demo_config.mysql.password }}
