---
- name: Converge (With Docker)
  hosts: all
  become: true
  vars:
    create_user: testuser
    copy_local_key: "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC... testkey"
    has_10g_volume: false
    create_swap: false
    with_fail2ban: false
    docker_cleanup:
      enabled: true
      schedule: 'Sun 02:00'
      log_file: '/var/log/docker-cleanup.log'
      prune_flags: '-a -f --volumes'
    kernel_cleanup:
      enabled: true
      schedule: 'Sun *-*-1..7 01:00'
      script_path: '/usr/local/bin/kernel-cleanup.sh'
      log_file: '/var/log/kernel-cleanup.log'
      description: 'Remove old kernel packages'
  tasks:
    - name: Run user tasks
      ansible.builtin.include_role:
        name: "{{ playbook_dir }}/../../"
        tasks_from: user
      tags: [system.user]

    - name: Run journald tasks
      ansible.builtin.include_role:
        name: "{{ playbook_dir }}/../../"
        tasks_from: journald
      tags: [system.journald]

    - name: Run docker_cleanup tasks
      ansible.builtin.include_role:
        name: "{{ playbook_dir }}/../../"
        tasks_from: docker_cleanup
      when: docker_cleanup.enabled | default(true)
      tags: [system.docker, system.docker.cleanup]

    - name: Run kernel_cleanup tasks
      ansible.builtin.include_role:
        name: "{{ playbook_dir }}/../../"
        tasks_from: kernel_cleanup
      when: kernel_cleanup.enabled | default(true)
      tags: [system.kernel, system.kernel.cleanup]
