---
dependency:
  name: galaxy
  options:
    requirements-file: ../../../../../requirements.yml
driver:
  name: docker
platforms:
  - name: instance-docker
    image: geerlingguy/docker-ubuntu2204-ansible:latest
    command: ""
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:rw
      - /var/run/docker.sock:/var/run/docker.sock
    cgroupns_mode: host
    privileged: true
    pre_build_image: true
provisioner:
  name: ansible
  config_options:
    defaults:
      action_warnings: true
      allow_world_readable_tmpfiles: true
      library: ../../../../../library
  inventory:
    host_vars:
      instance-docker:
        create_user: testuser
        with_fail2ban: false
        has_10g_volume: false
        create_swap: false
        docker_cleanup:
          enabled: true
          schedule: 'Sun 02:00'
          log_file: '/var/log/docker-cleanup.log'
          prune_flags: '-a -f --volumes'
        kernel_cleanup:
          enabled: true
          schedule: 'Sun *-*-1..7 01:00'
          script_path: '/usr/local/bin/kernel-cleanup.sh'
          log_file: '/var/log/kernel-cleanup.log'
          description: 'Remove old kernel packages'
  env:
    ANSIBLE_FORCE_COLOR: "1"
verifier:
  name: ansible
scenario:
  test_sequence:
    - dependency
    - cleanup
    - destroy
    - syntax
    - create
    - prepare
    - converge
    - verify
    - cleanup
    - destroy
