SERVICE_HOST={{ service.host }}
SERVICE_NAME={{ service.name }}
LOCAL_HOSTNAME={{ ansible_facts['hostname'] }}
IPV4_HOST={{ ansible_facts['default_ipv4']['address'] | default(lookup('dig', ansible_host)) }}
UID={{ user.id }}
GID={{ user.group }}
DOCKER_DATA_ROOT={{ extension_drive.path | default('/var/lib') }}/docker
{% if service.early | default(false) %}
ROCKET_TLS={certs="/etc/ssl/vw.crt",key="/etc/ssl/vw.key"}
{% endif %}
