# Firefly III service secrets
APP_KEY={{ finance.app_key }}
DB_PASSWORD={{ finance.db_password }}
POSTGRES_PASSWORD={{ finance.db_password }}
FIREFLY_III_CLIENT_ID={{ finance.importer_client_id | default('') }}
SERVICE_HOST_IMPORTER={{ finance.importer_host }}
