# Firefly III service secrets
APP_KEY={{ finance.app_key }}
POSTGRES_PASSWORD={{ finance.db_password }}
FIREFLY_III_ACCESS_TOKEN={{ finance.importer_access_token | default('') }}
SERVICE_HOST_IMPORTER={{ finance.importer_host }}
