{
    "version": 3,
    "source": "ff3-importer-2.3.2",
    "created_at": "{{ ansible_facts['date_time']['iso8601'] }}",
    "date": "",
    "default_account": 1,
    "delimiter": "comma",
    "headers": false,
    "rules": true,
    "webhooks": true,
    "skip_form": false,
    "add_import_tag": true,
    "roles": [],
    "do_mapping": [],
    "mapping": {},
    "duplicate_detection_method": "classic",
    "ignore_duplicate_lines": false,
    "unique_column_index": 0,
    "unique_column_type": "external-id",
    "pseudo_identifier": [],
    "flow": "eb",
    "content_type": "csv",
    "camt_type": "",
    "custom_tag": "",
    "identifier": "0",
    "connection": "0",
    "ignore_spectre_categories": false,
    "grouped_transaction_handling": "",
    "use_entire_opposing_address": false,
    "map_all_data": false,
    "pending_transactions": false,
    "access_token": "",
    "accounts": {
        "8898962a-b0ce-4013-8c89-12c977b92452": 0,
        "b3649be5-1e42-4a9e-b486-fdc8f7481dbc": 0
    },
    "new_accounts": {
        "8898962a-b0ce-4013-8c89-12c977b92452": {
            "create": "1",
            "name": "bumbleflies UG (haftungsbeschränkt)",
            "type": "asset",
            "account_role": "defaultAsset",
            "liability_type": "debt",
            "liability_direction": "credit",
            "opening_balance": null,
            "currency": "EUR"
        },
        "b3649be5-1e42-4a9e-b486-fdc8f7481dbc": {
            "create": "1",
            "name": "Christian Dähn",
            "type": "asset",
            "account_role": "defaultAsset",
            "liability_type": "debt",
            "liability_direction": "credit",
            "opening_balance": null,
            "currency": "EUR"
        }
    },
    "date_range": "all",
    "date_range_number": 30,
    "date_range_unit": "d",
    "date_range_not_after_unit": "",
    "date_range_not_after_number": 0,
    "date_not_before": "",
    "date_not_after": "",
    "nordigen_country": "",
    "nordigen_bank": "",
    "nordigen_requisitions": {},
    "nordigen_max_days": "90",
    "lunch_flow_api_key": "",
    "enable_banking_country": "{{ finance.import_config.banking_country }}",
    "enable_banking_bank": "{{ finance.import_config.banking_bank }}",
    "enable_banking_auth_id": "{{ finance.import_config.banking_auth_id }}",
    "enable_banking_sessions": [
        "{{ finance.import_config.banking_session }}"
    ],
    "conversion": false,
    "ignore_duplicate_transactions": true
}
