# Firefly III service secrets
APP_KEY={{ finance.app_key }}
DB_PASSWORD={{ finance.db_password }}
POSTGRES_PASSWORD={{ finance.db_password }}
FIREFLY_III_CLIENT_ID={{ finance.importer_client_id | default('') }}
SERVICE_HOST_IMPORTER={{ finance.importer_host }}

# Firefly III Data Importer - Automated Imports
AUTO_IMPORT_SECRET={{ finance.auto_import_secret }}
CAN_POST_FILES=true
CAN_POST_AUTOIMPORT=true
IMPORT_DIR_ALLOWLIST=/import
