# Leagues Finance service secrets
GOOGLE_CLIENT_ID={{ leagues_finance.google_client_id }}
GOOGLE_CLIENT_SECRET={{ leagues_finance.google_client_secret }}
GOOGLE_CALLBACK_URL={{ leagues_finance.google_callback_url }}
JWT_SECRET={{ leagues_finance.jwt_secret }}
LS_DB_HOST={{ leagues_finance.ls_db_host }}
LS_DB_NAME={{ leagues_finance.ls_db_name }}
LS_DB_USER={{ leagues_finance.ls_db_user }}
LS_DB_PASSWORD={{ leagues_finance.ls_db_password }}
MONGO_URI=mongodb://mongo:27017/leagues_finance
NODE_ENV=production
PORT=3000
