- name: Deploy LeagueSphere Staging Environment
  hosts: all
  strategy: free
  become: true
  remote_user: "{{ create_user }}"
  gather_facts: yes
  vars_files:
    - vars/secret_leaguesphere.yaml
    - vars/secrets.yml
    - vars/default.yml
  vars:
    ls_vars_file: secret_stage.yaml
  roles:
    - role: ls_app
      container_dir: "{{ ('~', 'dev', 'leaguesphere') | path_join }}"
      become_user: "{{ create_user }}"
      tags:
        - ls.staging
  tags:
    - ls-staging
