- name: Setup League Sphere (Production & Staging)
  hosts: all
  strategy: free
  become: true
  remote_user: "{{ root_user | default('root') }}"
  gather_facts: yes
  vars_files:
    - vars/secret_leaguesphere.yaml
    - vars/ssh_jail.yaml
    - vars/secrets.yml
    - vars/default.yml
  roles:
    # Setup (shared, run once)
    - role: ls_setup
      tags:
        - ls.setup
    - role: geerlingguy.security
      vars:
        security_ssh_permit_root_login: "yes"
        security_fail2ban_enabled: false
      tags:
        - ssh.security
    - role: geerlingguy.ssh-chroot-jail
      tags:
        - ssh.jail
    - ls_access

    # Production deployment (jail)
    - role: ls_app
      vars:
        container_dir: "{{ (ssh_chroot_jail_path, 'home', ls.user, 'container') | path_join }}"
        ls_vars_file: "secret_main.yaml"
      become_user: "{{ ls.user }}"
      tags:
        - ls.app
        - ls.app.prod
        - ls.app.jail

    # Production deployment (dev)
    - role: ls_app
      vars:
        container_dir: "{{ ('~', 'dev', ls.user) | path_join }}"
        ls_vars_file: "secret_main.yaml"
      remote_user: "{{ create_user }}"
      become_user: "{{ create_user }}"
      tags:
        - ls.app
        - ls.app.prod
        - ls.app.current

    # Staging deployment (jail) - ALWAYS RUNS WITH PROD
    - role: ls_app
      vars:
        container_dir: "{{ (ssh_chroot_jail_path, 'home', ls.user, 'container-stage') | path_join }}"
        ls_vars_file: "secret_stage.yaml"
      become_user: "{{ ls.user }}"
      tags:
        - ls.app
        - ls.app.stage

    # Staging env files (dev)
    - role: ls_app
      vars:
        container_dir: "{{ ('~', 'dev', ls.user) | path_join }}"
        ls_vars_file: "secret_stage.yaml"
      remote_user: "{{ create_user }}"
      become_user: "{{ create_user }}"
      tags:
        - ls.app.env
        - ls.app.env.docker
        - ls.app.env.ls

    # DB sync role (manual only)
    - role: ls_db_sync
      tags:
        - ls.db.sync
        - never
  tags:
    - ls
