- name: Setup Restic Backup Infrastructure
  hosts: all
  strategy: linear
  remote_user: "{{ create_user }}"
  become: true
  become_user: "{{ create_user }}"
  
  vars_files:
    - vars/default.yml
    - vars/restic.yml
    - vars/secrets.yml
    - ["vars/.bw_credentials.yml", "vars/empty.yml"]

  roles:
    - restic
  tags:
    - restic
