- name: Setup core system
  hosts: all
  strategy: free
  become: true
  remote_user: "{{ root_user | default('root') }}"
  gather_facts: yes
  vars_files:
    - vars/bootstrap_secrets.yml
    - vars/default.yml
    - vars/restic.yml
    - vars/secrets.yml
  roles:
    - system
    - role: sebthebert.ubuntu_pro
      tags: ['ubuntu_pro']