- name: Setup host machine for testing
  become: true
  remote_user: "{{create_user}}"
  hosts: test
  vars_files:
    - vars/default.yml
    - vars/secrets.yml
  roles:
    - testing
  tags:
    - testing
