- name: Setup user specific options
  hosts: all
  strategy: free
  remote_user: "{{ create_user }}"
  become: true
  become_user: "{{ create_user }}"
  vars_files:
    - vars/bootstrap_secrets.yml
    - vars/default.yml
    - vars/restic.yml
    - vars/secrets.yml
  roles:
    - user
  tags:
    - user