[Unit]
Description=Trigger Docker Compose - Photo Index Every two Hours

[Timer]
OnCalendar=00/2:30
RandomizedDelaySec=5m
Persistent=true

[Install]
WantedBy=timers.target
