[Unit]
Description=Docker Compose - Photo Index
Requires=docker-photo.service

[Service]
Type=oneshot
ExecStart=/bin/zsh /home/cda/servyy-container/photoprism/index-photos.sh
#ExecStart=echo 1

[Install]
WantedBy=default.target
