---
local_user: "{{ lookup('env', 'USER') }}"
remote_user_home: "{{ ('/home/', create_user) | path_join }}"
remote_user_systemd: "{{ (remote_user_home, '.config/systemd/user') | path_join }}"
copy_local_key: "{{ lookup('file', lookup('env','HOME') + '/.ssh/id_rsa.pub') }}"
sys_packages:
  - monit                       # server monitoring
  - jq                          # json parsing
  - curl
  - vim
  - git
  - zsh                         # default shell
  - cifs-utils                  # storagebox
  - git-crypt                   # encrypt files in git
  - locales                     # language options
  - linux-image-generic         # image + extras
  - btop                        # better top
  - binutils                    # ar
  - docker.io                   # docker engine
  - docker-compose-v2           # docker compose plugin
  - docker-buildx               # docker buildx plugin

swap_space: 2G

storagebox:
  file: /etc/storagebox.cred
  mount: /mnt/storagebox
  remote: "//{{storagebox_credentials.host}}/{{storagebox_credentials.share}}"

backup_dir: "{{(storagebox.mount, 'backup', inventory_hostname) | path_join}}"

extension_drive:
  path: /mnt/10g_volume
