- import_tasks: resolve.yml
  tags:
    - testing.hosts

- import_tasks: runc_lxc_fix.yml
  tags:
    - testing.runc

- import_tasks: mkcert.yml
  tags:
    - testing.mkcert

- name: Mount on reboot
  cron:
    name: "mount box on every reboot"
    special_time: reboot
    job: "sudo mount -a"
