- import_tasks: resolve.yml
  tags:
    - testing.hosts

- import_tasks: runc_lxc_fix.yml
  tags:
    - testing.runc

- import_tasks: mkcert.yml
  tags:
    - testing.mkcert

- import_tasks: vaultwarden_test.yml
  tags:
    - testing.vaultwarden

- import_tasks: vaultwarden_org_api_test.yml
  tags:
    - testing.vaultwarden.org_api

- name: Mount on reboot
  cron:
    name: "mount box on every reboot"
    special_time: reboot
    job: "sudo mount -a"

