- name: Dig servers ip
  set_fact:
    host_ip: "{{ lookup('dig', ansible_host) }}"
    host_name: "{{ ansible_facts['hostname'] }}"
  tags:
    - testing.hosts.remove
    - testing.hosts.create
    - testing.hosts.create.fqdn

- name: remove old entries from /etc/hosts
  become_user: root
  delegate_to: localhost
  lineinfile:
    path: '/etc/hosts'
    regex: '{{item[0].dir}}\.{{host_name}}{{item[1]}}$'
    state: absent
  with_items:
    - "{{ docker.services | product(['', '.lxd']) | list }}"
    - "{{ testing.extra_hosts }}"
  tags:
    - testing.hosts.remove

- name: Update the /etc/hosts file with node name
  become_user: root
  delegate_to: localhost
  lineinfile:
    path: '/etc/hosts'
    line: '{{host_ip}}	{{item[0].dir}}.{{host_name}}{{item[1]}}'
    state: present
    backup: yes
  with_items:
    - "{{ docker.services | product(['', '.lxd']) | list }}"
    - "{{ testing.extra_hosts }}"
  tags:
    - testing.hosts.create
