# for traefik lookup
SERVICE_HOST={{ service.host }}
SERVICE_NAME={{ service.name }}
LOCAL_HOSTNAME={{ ansible_facts['hostname'] }}
IPV4_HOST={{ lookup('dig', ansible_host) }}
COMPOSE_PROJECT_NAME={{ service.name }}
{% if service.alt_host is defined and service.alt_host %}
SERVICE_ALT_HOST={{ service.alt_host }}
{% endif %}
