# for traefik lookup
SERVICE_HOST={{ service.host }}
SERVICE_NAME={{ service.name }}
LOCAL_HOSTNAME={{ ansible_facts['hostname'] }}
IPV4_HOST={{ lookup('dig', ansible_host) }}
COMPOSE_PROJECT_NAME={{ service.name }}
{% if service.alt_host is defined and service.alt_host %}
SERVICE_ALT_HOST={{ service.alt_host }}
{% endif %}

# Finance DB initialization variables (for docker-compose expansion)
{% if app.db_finance_name is defined %}
MYSQL_FINANCE_DB_NAME={{ app.db_finance_name }}
MYSQL_FINANCE_USER={{ app.db_finance_user }}
MYSQL_FINANCE_PWD={{ app.db_finance_password }}
MYSQL_FINANCE_ROOT_PWD={{ app.db_finance_root_password }}
{% endif %}
