# for traefik lookup
SERVICE_HOST={{ service.host }}
SERVICE_NAME={{ service.name }}
LOCAL_HOSTNAME={{ inventory_hostname_short }}
IPV4_HOST={{ lookup('dig', ansible_host) }}
# app specific
MYSQL_DB_NAME={{ s.db_name }}
MYSQL_USER={{ s.db_user }}
MYSQL_PASSWORD={{ s.db_password }}
MOODLE_URL='{{ s.moodle_url }}'
MOODLE_WSTOKEN='{{ s.moodle_wstoken }}'
SECRET_KEY='{{ s.secret_key }}'
APPROVAL_ENDPOINT='{{ s.approval_endpoint }}'
APPROVAL_TOKEN='{{ s.approval_token }}'
