# ls app specific
MYSQL_HOST={{ s.db_host }}
MYSQL_DB_NAME={{ s.db_name }}
MYSQL_USER={{ s.db_user }}
MYSQL_PWD={{ s.db_password }}
MOODLE_URL='{{ s.moodle_url }}'
MOODLE_WSTOKEN='{{ s.moodle_wstoken }}'
SECRET_KEY='{{ s.secret_key }}'
APPROVAL_ENDPOINT='{{ s.approval_endpoint }}'
APPROVAL_TOKEN='{{ s.approval_token }}'
