# ls app specific
MYSQL_HOST={{ app.db_host }}
MYSQL_DB_NAME={{ app.db_name }}
MYSQL_USER={{ app.db_user }}
MYSQL_PWD={{ app.db_password }}
{% if app.db_root_password is defined %}
MYSQL_ROOT_PASSWORD={{ app.db_root_password }}
# MySQL container initialization variables (for staging)
MYSQL_DATABASE={{ app.db_name }}
MYSQL_PASSWORD={{ app.db_password }}
{% endif %}

MOODLE_URL='{{ app.moodle_url }}/offd'
MOODLE_WSTOKEN='{{ app.moodle_wstoken }}'
SECRET_KEY='{{ app.secret_key }}'
EQUIPMENT_APPROVAL_ENDPOINT='{{ app.approval_endpoint }}'
EQUIPMENT_APPROVAL_TOKEN='{{ app.approval_token }}'
