## Mail Benachrichtigungen

set alert {{ monit.email }}
set mailserver
  {{ monit.smtp.host }}
  port {{ monit.smtp.port }}
  username {{ monit_smtp_account }}
  password {{ monit_smtp_password }}
  using TLS
