{% for service in docker.services %}
check program "Docker Service {{ service.name }}" with path "/bin/systemctl --user -M {{ create_user }}@  is-active {{ 'docker-' + service.dir | lower }}"
    if status != 0 then alert
{% endfor %}
