## Mail Benachrichtigungen

set alert {{ monit.email }}
set mailserver   
  {{ monit.smtp.host }}
  port {{ monit.smtp.port }}
  username {{ monit.smtp.account }}
  password {{ monit.smtp.password }}
  using TLS
