check program storagebox-mounted with path "/bin/mountpoint -q {{ storagebox.mount }}"
    if status != 0 then alert

check filesystem storagebox with path {{ storagebox.mount }}
    if space usage > 50% then alert
