check system $HOST
    if loadavg (5min) > 6 for 2 cycles then alert
    if loadavg (15min) > 3 for 2 cycles then alert
    if memory usage > 80% for 4 cycles then alert
    if swap usage > 50% for 4 cycles then alert
    # Test the user part of CPU usage
    if cpu usage (user) > 80% for 2 cycles then alert
    # Test the system part of CPU usage
    if cpu usage (system) > 20% for 2 cycles then alert
    # Test the i/o wait part of CPU usage
    if cpu usage (wait) > 80% for 2 cycles then alert
    # Test CPU usage including user, system and wait. Note that
    # multi-core systems can generate 100% per core
    # so total CPU usage can be more than 100%
    if cpu usage > 200% for 4 cycles then alert

check filesystem root with path /
    if space usage > 90% then alert
    if space usage > 95% for 2 cycles then alert

{% if has_10g_volume | default(false) %}
check filesystem 10g_volume with path {{ extension_drive.path }}
    if space usage > 80% then alert
    if space usage > 85% for 2 cycles then alert
{% endif %}

# Cleanup log monitoring
check file docker_cleanup_log with path /var/log/docker-cleanup.log
    if timestamp > 8 days then alert

check file kernel_cleanup_log with path /var/log/kernel-cleanup.log
    if timestamp > 32 days then alert

# Restic backup log monitoring
check file restic_backup_home_log with path {{ restic.logs.backup_home }}
    if timestamp > 2 hours then alert

check file restic_backup_root_log with path {{ restic.logs.backup_root }}
    if timestamp > 25 hours then alert

check file restic_forget_log with path {{ restic.logs.forget }}
    if timestamp > 25 hours then alert

check file restic_check_log with path {{ restic.logs.check }}
    if timestamp > 8 days then alert