check program "Docker Service {{ service.name }}" with path "/bin/zsh -c /etc/monit/scripts/check_docker_compose-{{ service.dir }}.sh"
    if status != 0 for 2 cycles then restart
    if status != 0 for 4 cycles then alert
    group docker
