- import_tasks: packages.yml
  tags:
    - system.packages
- import_tasks: user.yml
  tags:
    - system.user

- import_tasks: extension_drive.yml
  tags:
    - system.extension_drive
  when: has_10g_volume | default(false)

- import_tasks: storagebox.yml
  tags:
    - system.storagebox

- import_tasks: swap.yml
  tags:
    - system.swap
  when: create_swap | default(false)

- import_tasks: monit.yml
  tags:
    - system.monit

- import_tasks: fail2ban.yml
  tags:
    - system.fail2ban
  when: with_fail2ban | default(true)

- import_tasks: journald.yml
  tags:
    - system.journald
    - system.maintenance

- import_tasks: docker_cleanup.yml
  when: docker_cleanup.enabled | default(true)
  tags:
    - system.docker
    - system.docker.cleanup
    - system.maintenance

- import_tasks: kernel_cleanup.yml
  when: kernel_cleanup.enabled | default(true)
  tags:
    - system.kernel
    - system.kernel.cleanup
    - system.maintenance

- import_tasks: restic_maintenance.yml
  tags:
    - system.restic
    - system.restic.maintenance
    - system.maintenance
