- name: Monitor SSHD
  template:
    src: monit.sshd.check.j2
    dest: /etc/monit/conf.d/sshd
    mode: 0640
  notify: restart monit

- name: Remove old SSHD link
  file:
    path: /etc/monit/conf-enabled/openssh-server
    state: absent
  notify: restart monit

- name: Setup logging
  template:
    src: monit.log.j2
    dest: /etc/monit/conf.d/log
    mode: 0640
  notify: restart monit

- name: Setup http (for status)
  template:
    src: monit.status.j2
    dest: /etc/monit/conf.d/status
    mode: 0640
  notify: restart monit

- name: Setup alert email
  template:
    src: monit.alert.j2
    dest: /etc/monit/conf.d/alert
    mode: 0640
  notify: restart monit

- name: Setup systems check
  template:
    src: monit.system.check.j2
    dest: /etc/monit/conf.d/system-check
    mode: 0640
  notify: restart monit

- name: Setup storagebox check
  template:
    src: monit.storagebox.check.j2
    dest: /etc/monit/conf.d/storagebox-check
    mode: 0640
  notify: restart monit

- block:
    - name: Create scripts dir
      file:
        path: /etc/monit/scripts
        state: directory
        owner: root
        group: root

    - name: Create docker container check script
      template:
        src: check_docker_compose.sh.j2
        dest: /etc/monit/conf.d/container-check-{{ item.dir }}
        mode: 0750
      vars:
        container_names: >-
          {{ (lookup('file', (docker.local_dir, item.dir, 'docker-compose.yml') | path_join ) | from_yaml)['services']
          | dict2items | map(attribute='key') | list }}
        dir_name: "{{ item.dir }}"
      with_items:
        - "{{ docker.services }}"
      notify: restart monit
      tags:
        - system.monit.script
        - system.monit.script.create

    - name: Setup container check
      template:
        src: monit.container.check.j2
        dest: /etc/monit/conf.d/container-check-{{ item.dir }}
        mode: 0640
      vars:
        service: "{{ item }}"
      when: not ('manual' in item)
      with_items:
        - "{{ docker.services }}"
      notify: restart monit
      tags:
        - system.monit.script
        - system.monit.script.setup

    - name: Remove container check for manual jobs
      file:
        path: /etc/monit/conf.d/container-check-{{ item.dir }}
        state: absent
      when: ('manual' in item)
      with_items:
        - "{{ docker.services }}"
      tags:
        - system.monit.script
        - system.monit.script.remove
  when: with_containers | default(false)

- name: Run monit status
  command: monit status
  register: monit_status
  ignore_errors: true
  changed_when: false

- name: Assert monit status is callable
  assert:
    that:
      - monit_status.rc == 0
    fail_msg: "monit status command failed"
    success_msg: "monit status command succeeded"
  when: ansible_facts['virtualization_type'] | default('') != 'docker'

- name: Check if any events where postponed (maybe mailserver error)
  find:
    paths: '/var/lib/monit/events/'
  register: filesFound
  when: ansible_facts['virtualization_type'] | default('') != 'docker'

- fail:
    msg: 'Some events where postponed'
  when:
    - ansible_facts['virtualization_type'] | default('') != 'docker'
    - filesFound.matched > 0
