# Install packages
- name: Install Prerequisites
  apt: name=aptitude update_cache=yes state=latest force_apt_get=yes
  tags:
    - system.packages.update

- name: Upgrade the OS (apt-get dist-upgrade)
  apt:
    upgrade: dist
  register: upgrade
  tags:
    - system.packages.dist-upgrade

- name: Pre-create monit log file (workaround for installer bug)
  file:
    path: /var/log/monit.log
    state: touch
    owner: root
    group: root
    mode: '0640'
    modification_time: preserve
    access_time: preserve
  tags:
    - system.packages.install

- name: Install required system packages
  apt:
    name: >-
      {{ sys_packages | reject('match', '^linux-image-.*') | list
         if ansible_facts['virtualization_type'] | default('') in ['lxc', 'docker']
         else sys_packages }}
    state: latest
  tags:
    - system.packages.install

- name: Ensure a locale exists
  community.general.locale_gen:
    name: de_DE.UTF-8
    state: present
  tags:
    - system.packages.locale

- name: Set timezone to Europe/Berlin
  timezone:
    name: Europe/Berlin
  failed_when: false  # Timezone data may not be available in Docker containers
  tags:
    - system.packages.timezone
    - molecule-notest

- name: Reboot to apply changes
  reboot:
    msg: Reboot after system update
  when:
    - upgrade.changed
    - ansible_facts['virtualization_type'] | default('') not in ['docker', 'lxc']
  tags:
    - system.packages.reboot
