# Mount storgabox
- name: Create credential file (used for fstab entry)
  copy:
    content: |
      username={{ storagebox_credentials.user }}
      password={{ storagebox_credentials.password }}
    dest: "{{ storagebox.file }}"
    mode: 0600
  tags:
    - system.storagebox.credentials

- name: Check mountpoint exist
  file:
    path: "{{ storagebox.mount }}"
    state: directory
    owner: "{{ create_user }}"
    group: "{{ create_user }}"
    mode: "0755"
  tags:
    - system.storagebox.mount.exist

- block:
    - set_fact:
        mount_opts: "credentials={{ storagebox.file }},iocharset=utf8,uid={{created_user.uid}},gid={{created_user.group}}"

    - name: Get storagebox IP (cached)
      set_fact:
        storagebox_ip: "{{ lookup('dig', storagebox_credentials.host, 'qtype=A') }}"
      when: ('test' in groups) and (inventory_hostname in groups['test'])

    - set_fact:
        mount_opts: "{{mount_opts}},ip={{storagebox_ip}}"
      when: ('test' in groups) and (inventory_hostname in groups['test'])

    - name: Create fstab entry for folder share
      mount:
        state: present
        fstype: cifs
        opts: '{{mount_opts}}'
        src: '{{ storagebox.remote }}'
        path: '{{ storagebox.mount }}'
  tags:
    - system.storagebox.mount.fstab

- name: Check if storagebox is already mounted
  command: '/bin/mountpoint -q {{storagebox.mount}}'
  register: storagebox_check
  failed_when: storagebox_check.stderr != ''
  changed_when: storagebox_check.rc != 0
  tags:
    - system.storagebox.mount.check

- block:
    - name: Mount storagebox
      command: mount "{{ storagebox.mount }}"
      register: mount_check
      failed_when: not(mount_check.stderr == '' or 'Operation now in progress' in mount_check.stderr)

    - name: Check if storagebox mounted
      command: '/bin/mountpoint -q {{ storagebox.mount }}'
      register: storagebox_mount
      failed_when: storagebox_mount.stderr != ''
      changed_when: storagebox_mount.rc != 0

  rescue:
    - name: Restart system if mount fails with "Operation not permitted"
      ansible.builtin.reboot:
        reboot_timeout: 600  # Adjust the timeout as needed
        test_command: whoami  # Command to verify that the system has rebooted
      when: "'Operation not permitted' in mount_check.stderr or mount_check.rc == 32"

    - name: Wait for system to come back online after reboot
      ansible.builtin.wait_for:
        host: "{{ inventory_hostname }}"
        port: 22
        state: started
        delay: 10
        timeout: 300

    - name: Retry mounting storagebox after reboot
      command: mount "{{ storagebox.mount }}"
      register: mount_check_retry
      failed_when: not(mount_check_retry.stderr == '' or 'Operation now in progress' in mount_check_retry.stderr)
      retries: 3  # Retry up to 3 times
      delay: 10  # Delay 10 seconds between retries
      when: "'Operation not permitted' in mount_check.stderr or mount_check.rc == 32"

  when: storagebox_check.changed