---
dependency:
  name: galaxy
  options:
    requirements-file: ../../../../../requirements.yml
driver:
  name: docker
platforms:
  - name: instance-user-docker
    image: geerlingguy/docker-ubuntu2204-ansible:latest
    command: ""
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:rw
      - /var/run/docker.sock:/var/run/docker.sock
    cgroupns_mode: host
    privileged: true
    pre_build_image: true
provisioner:
  name: ansible
  config_options:
    defaults:
      action_warnings: true
      allow_world_readable_tmpfiles: true
      library: ../../../../../library
  inventory:
    host_vars:
      instance-user-docker:
        create_user: testuser
        with_docker: true
        with_containers: true
        check_git_servyy_reachable: false
        docker:
          repo: "https://github.com/example/container.git"
          remote_dir: "/home/testuser/servyy-container"
          local_dir: "/tmp/container"
  env:
    ANSIBLE_FORCE_COLOR: "1"
verifier:
  name: ansible
scenario:
  test_sequence:
    - dependency
    - cleanup
    - destroy
    - syntax
    - create
    - prepare
    - converge
    - verify
    - cleanup
    - destroy
