[defaults]
# (boolean) By default Ansible will issue a warning when received from a task action (module or action plugin)
# These warnings can be silenced by adjusting this setting to False.
action_warnings=True
# https://github.com/georchestra/ansible/issues/55
allow_world_readable_tmpfiles=true
