# Create provision user
# > adduser --uid 1001 provision

# Add User to sudoer
# > usermod -aG sudo username
# https://linuxize.com/post/how-to-add-user-to-sudoers-in-ubuntu/

- import_playbook: plays/bw_auth.yml
- import_playbook: plays/system.yml
- import_playbook: plays/user.yml
- import_playbook: plays/restic.yml
- import_playbook: plays/leaguesphere.yml
- import_playbook: plays/testing.yml
  vars:
    testing:
      extra_hosts:
        - [{dir: 'pihole.dns'}, '']
        - [{dir: 'leaguesphere'}, '.lxd']
        - [{dir: 'stage.leaguesphere'}, '.lxd']
