---
- name: Converge (Testing)
  hosts: all
  become: true
  vars:
    create_user: ubuntu
    docker:
      services: []
    testing:
      extra_hosts:
        - [{dir: 'pihole.dns'}, '']
        - [{dir: 'test'}, '.lxd']
    mkcert:
      cert_dir: /etc/ssl/mkcert
      domains:
        - "servyy-test.lxd"
        - "*.servyy-test.lxd"
        - "localhost"
    runc_safe_version: "1.4.0"
  tasks:
    # Test resolve tasks (adds hosts entries)
    - name: Run resolve tasks  # noqa: role-name[path]
      ansible.builtin.include_role:
        name: "{{ playbook_dir }}/../../"
        tasks_from: resolve
      tags: [testing.hosts]

    # Test runc LXC fix
    - name: Run runc_lxc_fix tasks  # noqa: role-name[path]
      ansible.builtin.include_role:
        name: "{{ playbook_dir }}/../../"
        tasks_from: runc_lxc_fix
      tags: [testing.runc]

    # Test mkcert installation
    - name: Run mkcert tasks  # noqa: role-name[path]
      ansible.builtin.include_role:
        name: "{{ playbook_dir }}/../../"
        tasks_from: mkcert
      tags: [testing.mkcert]
