---
dependency:
  name: galaxy
  options:
    requirements-file: ../../../../../requirements.yml
driver:
  name: docker
platforms:
  - name: instance-testing
    image: geerlingguy/docker-ubuntu2204-ansible:latest
    command: ""
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:rw
    cgroupns_mode: host
    privileged: true
    pre_build_image: true
provisioner:
  name: ansible
  config_options:
    defaults:
      action_warnings: true
      allow_world_readable_tmpfiles: true
  inventory:
    host_vars:
      instance-testing:
        create_user: ubuntu
        testing:
          extra_hosts:
            - [{dir: 'pihole.dns'}, '']
            - [{dir: 'test'}, '.lxd']
        mkcert:
          cert_dir: /etc/ssl/mkcert
          domains:
            - "servyy-test.lxd"
            - "*.servyy-test.lxd"
            - "localhost"
        runc_safe_version: "1.4.0"
  env:
    ANSIBLE_FORCE_COLOR: "1"
verifier:
  name: ansible
scenario:
  test_sequence:
    - dependency
    - cleanup
    - destroy
    - syntax
    - create
    - prepare
    - converge
    - verify
    - cleanup
    - destroy
