- name: Restart SSHD
  service:
    name: ssh
    state: restarted

- name: restart fail2ban
  service:
    name: fail2ban
    state: restarted

- name: restart journald
  systemd:
    name: systemd-journald
    state: restarted
  become: true

- name: reload systemd
  systemd:
    daemon_reload: yes
