[Unit]
Description=Bind mount Docker socket into jail
After=docker.service

[Mount]
What=/var/run/docker.sock
Where={{ ssh_chroot_jail_path }}/var/run/docker.sock
Type=none
Options=bind

[Install]
WantedBy=multi-user.target
